<?xml version="1.0"?>
<robot name="my_robo" xmlns:xacro="http://ros.org/wiki/xacro">\
	<xacro:include filename="$(find dynamixel_description)/urdf/_2XL430.urdf.xacro"/>
	<xacro:include filename="$(find dynamixel_description)/urdf/common_properties.xacro"/>

	<link name="base">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.001" radius="0.01"/>
			</geometry>
			<material name="orange"/>
		</visual>
	</link>

	<xacro:servo_2XL430 parent="base" center_parent="false" child="hone" center_child="true" />

	<link name="hone">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.001" radius="0.01"/>
			</geometry>
			<material name="red"/>
		</visual>
	</link>

	<gazebo reference="base">
		<material>Gazebo/Orange</material>
	</gazebo>
	
	<gazebo reference="hone">
		<material>Gazebo/Red</material>
	</gazebo>

</robot>